{% load static %}
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/cover.css' %}">

</head>

<body class="text">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">

      <div class="inner">
        <a href="https://vclock.kr/time/" target="_blank" class="btn btn-lg btn-secondary">-The Clock, All Of The World-</a>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link active" href="#">Web programming</a>
          <a class="nav-link" href="#">Terminal</a>
          <a class="nav-link" href="#">Project</a>
        </nav>
      </div>
    </header>



    <main role="main" class="inner cover">
     <center> <h1 class="cover-heading">[Magichanee's Blog]</h1></center>
   <center><p class="lead"><h1>♡♥♡</h1> </p></center>
      <center><p class="lead"><h2>기말 고사 프로젝트, 최종 제출</h2> <br> <h4>교수님 감사합니다</h4></p></center>
   <center>   <p class="lead">
        <center><p class="lead"><h1>♡♥♡</h1> </p></center>
        <br> <br>
        <a href="{% url 'blogMain' %}" class="btn btn-lg btn-secondary">-접속-</a>
      </p></center>
    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>관련 문의사항은 <a href="https://mail.naver.com/#%7B%22fClass%22%3A%22write%22%2C%22oParameter%22%3A%7B%22orderType%22%3A%22new%22%2C%22sMailList%22%3A%22%22%7D%7D"  target="_blank">메일 : kakao@hs.ac.kr</a>, 이동하기 <a href="https://www.naver.com"  target="_blank">-네이버 이동- <a href="https://www.google.co.kr" target="_blank">-구글 이동-</a>.<a href="https://www.daum.net"target="_blank">-다음 이동-</p>
      </div>
    </footer>
  </div>
</body>
