{% extends 'base.html' %}

{% block content %}

    {% if not blogs %}
<br>
<br>
<br>
<br>
        <h1>검색 결과가 없습니다</h1>

    {% else %}

        {% for blog in blogs.all %}
<br>
<br>
<br>
<br>
<center> <h1>블로그 게시글 데이터 베이스 검색결과야!</h1></center>
        <div class="container"> 
            <div class="card">
                <div class="card-body">
                    <h1>{{ blog.title }}</h1>
                    <p>{{ blog.pub_date | date:"Y-m-d" }}</p>
                    <p>{{ blog.summary }}<a href="{% url 'detail' blog.id %}"> ->자세히 보기</a></p>
                </div>
            </div>
        </div>
        <br>
        {% endfor %}

    {% endif %}

{% endblock %}